@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Kanit:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main box of the layout */

main{
    margin: 0 4vw;
}

/* nav bar section is here */

nav{
    display: flex;
    margin: 0 2vw;
    justify-content: space-between;
    padding: 2px 20px;
    top: 0;
    position: sticky;
    background-color: rgb(5, 12, 12);
}

.logo-image{
    width: 8%;
    color: white;
    text-align: center;
}

nav img{
    width: 100%;
    /* filter: invert(100%); */
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

/* hero section starts from here */

.section1{
    margin: 0 2vw;
    display: flex;
    gap: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./burger-g7449f879c_1920.jpg');
    background-size: cover;
    /* background-position: 100%; */
    /* background-attachment: fixed; */
    height: 500px;
}

/* left hero section */

.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 3vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.left p{
    color: white;
}

.left > p:nth-child(1){
    font-size: 65px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    
}
.left > p:nth-child(2){
    font-size: 65px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;

}
.left > p:nth-child(3){
    font-size: 18px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

/* product details section2 */

.section2{
    margin: 1vh 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.card{
    /* border: 1px solid black; */
    padding: 2vh 2vw;
    display: grid;
    gap: 20px;
}

.card p{
    font-family: 'Kanit', sans-serif;
}

.card button{
    width: fit-content;
    padding: 1vh 1vw;
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.product-img{
    width: 100%;
    /* border: 1px solid black; */
    object-fit: cover;
    margin: auto;
}

.product-img img{
    width: 100%;
}

/* map section */

.sub-head{
    padding: 3vh 1vw;
    font-size: 35px;
    font-weight: bold;
    background-color: black;
    margin: 0 1vw;
    color: white;
    font-family: 'Kanit', sans-serif;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.map{
    margin: 0 1vw;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    margin: 1vh 2vw;
    background-color: black;
    color: white;
    padding: 3vh 2vw;
    align-items: center;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

footer button{
    padding: 1vh 1vw;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(104, 104, 194);
    color: white;
    border: none;
    cursor: pointer;
}

/* media query */

@media screen and (min-width: 0px) and (max-width: 450px) {

    /* nav bar section */
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    nav ul li a{
        font-size: 12px;
    }

    .logo-image{
        margin: auto;
        width: 12%;
    }
    .logo-image p{
        font-size: 10px;
        text-align: center;
    }

    /* hero section */

    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section2{
        display: flex;
        flex-direction: column;
    }

    .section2 .card .info{
        font-size: 12px;
        text-align: justify;
    }

    .section2 .card button{
        font-size: 12px;
    }

    .map{
        display: flex;
        flex-direction: column;
    }
    .map .sub-head{
        font-size: 14px;
        padding: 1vh 1vw;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1vh 1vw;
        justify-content: center;
    }

    footer button{
        font-size:12px;
        font-weight: normal;
    }
}